* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.7;
  color: black;
  display: flex;
  flex-direction: column;
}

#navbar {
  position: sticky;
  top: 0;
  background-color: #be3144;
  display: flex;
  height: 7vh;
  padding: 8px;
}

ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
ul li {
  list-style-type: none;
}
ul a {
  text-decoration: none;
  color: white;
}

#navbar li {
  margin: auto 5px;
  align-items: center;
  font-size: 18pt;
}

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #303841;
  text-align: center;
}

#projects {
  background-color: #45567d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.list-of-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
}

.project {
  flex-basis: 45%;
  margin: 10px;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.project h4 {
  background-color: #be3144;
  color: white;
  border-radius: 5px;
  width: 500px;
  margin: auto;
}

@media (max-width: 360px) {
  .list-of-projects {
    flex-direction: column;
  }
}

img {
  height: 350px;
  width: 500px;
}

#profile-link {
  padding: 10px;
  background-color: aquamarine;
  border-radius: 5px;
  margin: 10px auto;
}

#projects a {
  text-decoration: none;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70vh;
  background-color: #303841;
}

#contact a {
  color: white;
  margin: 10px;
  text-decoration: none;
}
